<div class="bg-white">
<h1 align="center">Recipe Name: <%= @recipe.name.capitalize %></h1>

<div class="well col-md-8  bg-light py-4 px-5 rounded border mt-5">
  <h4 class="center description"><strong>Description: </strong></h4>
  <hr />
  <%= @recipe.description %>
  <hr />
    <p class="center">
      Created by:
    </p>
    <p>
      <small><%= @recipe.chef.chefname %></small>
        <%= time_ago_in_words(@recipe.created_at) %> ago
    </p>
</div>
</div>