
<!-- About page -->
<div class=" bg-red">
	<h1 class="hot text-center py-md-5 py-4 text-white m-0">About Us!</h1>
</div>
<div class="row bg-white position-relative h-480 mb-md-5 mb-4">
	<div class="col-md-6 py-5">
		<div class="py-md-5 px-md-5 px-2">
			<h2 class="hoter">Some words about us</h2>
			<h5 class="text-muted py-3">We deliver tasty food to your door in 30 minutes or less</h5>
			<p class="pb-5">Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc doctus definitiones</p>
		</div>
	</div>
	<div class="col-md-6">
		<%= image_tag"delboy.png", class:"bike" %></a></div>
	<div class="bgwh"></div>
</div>

<!-- <about page -->
<%= render 'layouts/footer' %>
