<div class="row  position-relative ">
	<%= image_tag("yelbar.png", class: " w-100" )%>
	<%= image_tag("foodfooter.png", class: "footer d-md-block d-none " )%>
	<%= image_tag("food2foter.png", class: "footerpiza w-26 " )%>
	<div class="col-12  text-center bg-yellow  pt-2">
		<h1 class="fotertext ">Lets Order Your Favourite Dish</h1>
		<h1 class="fotertext text-white" >Call Us</h1>
		<a href="#" class="btn btn-danger px-5 py-4 font-weight-bold mt-4 mb-3">0141-423-0443</a>
		<h4 class="email mb-5">LahoriDera@gmail.com</h4>
	</div>
</div>